@media (min-width: 1280px) {
  .main {
    background: url(../img/background-1920.png);
    background-size: cover;
  }
}
@media (max-width: 1280px) {
  .main {
    background: url(../img/background.png) no-repeat;
    background-size: contain;
  }
  .cards {
    &-wrapper {
      justify-content: center;
      .card-item {
        margin: 15px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header-wrapper {
    .burger-icon {
      display: block;
      visibility: visible;
      display: inline;
    }
    .header-middle {
      .menu {
        position: relative;
        .menu__list {
          display: none;
          visibility: hidden;
          position: relative;
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          padding-left: 20px;
          flex-direction: column;
          transition: all 0.2s;
          list-style: none;
          max-height: 0;
          z-index: 2;
          font-size: 0;
          &.open {
            opacity: 1;
            display: flex;
            visibility: visible;
            max-height: 500px;
            font-size: 14px;
            li {
              padding: 10px 0;

              a {
                color: #5a606b;
              }
            }
          }
        }
      }
      .version-line {
        padding: 23px 36px 22px 60px;
      }
    }
  }
  .main {
    &__wrapper {
      padding: 60px 10px;
      &::after {
        display: none;
      }
      .main-descr {
      }
      .main-image {
        flex: 1;
        padding-left: 50px;
        &::before {
          content: '';
          position: absolute;
          width: 175px;
          height: 202px;
          background: url(../img/leaf-01.png) no-repeat;
          top: 70px;
          right: 0;
        }

        img {
          max-width: 282px;
          width: 60%;
          display: block;
        }
      }
    }
  }
  .cards {
    &-wrapper {
      justify-content: center;
      .card-item {
        margin: 30px;
      }
    }
  }
}
@media (max-width: 968px) {
  .main {
    &__wrapper {
      padding: 60px 10px;
      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background: url(../img/leaf.png) no-repeat;
        top: 0px;
        left: 260px;
      }
      &::after {
        display: none;
      }
      .main-descr {
        flex: 1;
        color: #fff;
        padding: 10px 25px 20px 20px;
        text-align: left;

        .main-image {
          flex: 1;
          padding-left: 50px;
          &::before {
            display: none;
          }

          img {
            max-width: 282px;
            width: 80%;
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .main {
    &__wrapper {
      .main-image {
        flex: 1;
        padding-left: 50px;
        &::before {
          display: none;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column;
  }
  .main {
    min-height: 402px;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    &__wrapper {
      flex-direction: column;
      padding: 30px 0px;
      &::before {
        content: '';
        position: absolute;
        width: 133px;
        height: 200px;
        background: url(../img/leaf.png) no-repeat;
        top: 0px;
        left: 160px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 230px;
        height: 230px;
        background: url(../img/leaf-02.png) no-repeat;
        bottom: -60px;
        left: 40px;
        display: inline;
        z-index: 3;
      }
      .main-descr {
        flex: 1;
        color: #fff;
        padding: 10px 25px 20px 20px;
        text-align: left;
        span.main-suptitle {
          font-size: 20px;
        }
        h2.main-title {
          font-size: 24px;
        }
        .main-buttons {
          display: flex;
          justify-content: center;
          padding: 0;
          button {
            &.outline {
              background: #fff;
              text-shadow: 0px 3px 6px #a55e00bf;
              color: #d55223;
            }
          }
        }
      }
      .main-image {
        flex: 1;
        padding-left: 0;
        margin-top: 20px;
        &::before {
          content: '';
          position: absolute;
          width: 175px;
          height: 202px;
          background: url(../img/leaf-01.png) no-repeat;
          top: 70px;
          right: 40px;
          display: inline;
        }

        img {
          max-width: 222px;
          width: 80%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .cards {
    padding: 40px 0 20px 0;
    .card-section-title {
      font-size: 24px;
    }
    &-wrapper {
      padding: 14px 0;
    }
  }
}
